<!DOCTYPE html>
<html>
    <head>
        <title>NodeTest:Form example</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
     </head>
    <body>
        <h1><center>Welcome to Node Test:Form Example</center></h1>
        <h3><center>Form Data:</center></h3>
        <h4><center><%- subdata.username %></center></h4>
        <h4><center><%- subdata.userpass %></center></h4>
    </body>
</html>