<!DOCTYPE html>

<html>
    <head>
        <title>NodeTest:Form</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
     </head>
    <body>
        <h1><center>Node:Form Example</center></h1>
        <div>
            <center>
                <form action="/form" method="post">
                    <label>Username</label><br>
                    <input type="text" name="username" placeholder="enter username"/><br><br>
                    <label>Password</label><br>
                    <input type="password" name="userpass" placeholder="enter password"/><br><br>
                    <button type="submit">submit</button>
                </form>
            
            </center>
        </div>
        
    </body>
</html>